.page-container {
  top: 80px;
  position: relative;

  .register-box {
    text-align: center;
    margin: auto auto;
    margin-top: 30px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-top: 10px solid $green;

    .content {
      padding: 30px;

      .header {
        margin-bottom: 30px;

        .heading {
          font-size: 32px;
          font-weight: $f-semi-bold;
        }

        p {
          color: hsl(200, 0%, 42%);
          margin-bottom: 0;
        }
      }

      input {
        margin-bottom: 20px;
      }

      // input {
      //   border: 1px solid $green;
      //   border-radius: 0;
      //   padding: 20px 10px;
      //   margin-bottom: 20px;

      //   &:focus {
      //     box-shadow: 0 0 0 0.2rem rgba(150, 194, 54, 0.15);
      //   }
      // }
    }

    .footer {
      padding: 30px;
      background: hsl(200, 25%, 88%);

      .heading {
        font-size: 18px;
        margin-bottom: 0;
        color: hsl(200, 0%, 42%);

        a {
          color: $dark;
        }
      }
    }
  }
}
